<h1>Log in</h1>

<a href="http://localhost:3000/oauth/authorize?client_id=Gp3ykc00hPndLGfVnku5jAAZYi7OHpBsFLl8m2SrW6s&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Fcallback&response_type=code&scope=openid+email+read+write">log in with IdP</a>
